/*TABLES*/

table.dataTable.no-footer {
    border: 0px;
}

.dataTables_wrapper .dataTables_filter input {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    background-color: white;
    border-color: #dbdbdb;
    color: #363636;
    -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);

}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid grey;
}

td, th {
    margin: 0;
    white-space: nowrap;
    border-top-width: 0px;
    padding: 1rem;
}

.tabletest {
    overflow-x: scroll;
    margin-left: 6%;
}

.headcol {
    position: absolute;
    width: 6%;
    left: 0;

}

div.dataTables_wrapper {
    margin: 0 auto;
}

table.dataTable tbody tr.selected, table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
    background-color: #d7d9da;
}

/*ELEMENTS*/

.param {
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
    margin-top: 1rem;
}

.button {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.btn {
    padding: 0.5rem;
}

#black {
    background: #022b3a;
    color: white;
    font-weight: bold;
}

#white {
    background: white;
    color: #2D2D2D;
    font-weight: bold;
}

.test {
    color: red;
    font-size: 2rem;
}

.left {
    float: left;
}

.img_moodle_course {
    max-width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: -1px;
    min-height: 64px;
    min-width: 64px;
}

.title {
    font-size: 1.5rem;
    color: white;
    padding-bottom: 0.5rem
}

/*Alignement column*/

.padding_column {
    padding: 2rem;
}

.align_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_center {
    top: 1rem;
    left: 1rem;
}

.left_course_elements, .right_course_elements {
    width: 33%;
    float: left;
    padding: 1%;
    color: white;
    text-align: center;
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.left_course_elements {
    background: #2d2d2d;
}

.right_course_elements {
    background: #009186;

}

.img_moodle_list {
    max-width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: -1px;
    height: 32px;
    width: 32px;

}

.middle_elements {
    width: 11%;
    float: left;
    padding: 1%;
}

/*Dropzone*/

#outer-dropzone {
    height: 140px;
}

#inner-dropzone {
    height: 80px;
}

.dropzone {
    background-color: #ccc;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;

    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;

    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);

    transition: background-color 0.3s;
}

.drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
}

.subject-info-box-1,
.subject-info-box-2 {
    float: left;
    width: 100%;
}

.subject-info-box-1 select,
.subject-info-box-2 select {
    height: 200px;
    padding: 0;
}

.subject-info-box-1 select option,
.subject-info-box-2 select option {
    padding: 4px 10px 4px 10px;
}

.subject-info-box-1 select option:hover,
.subject-info-box-2 select option:hover {
    background: #EEEEEE;
}

.subject-info-arrows {
    float: left;
    width: 50%;
    margin-left: 25%;
}

.subject-info-arrows input {
    width: 70%;
    margin-bottom: 5px;
}

.section {
    padding-bottom: 1.3rem;
    padding-top: 1%;
}

.indicateur_section {
    margin-left: 0.5rem !important;
    box-shadow: 0 0 3px 0 #cdcdcd;
    margin-bottom: 0.5rem !important;
}

.big_info {
    line-height: 0rem;
    background: white !important;
    border: 1px solid #cdcdcd;
    font-size: 1.3rem !important;
    color: #0b9086 !important;
    min-width: 4rem !important;
    min-height: 2rem !important;
}

.flexible {
    display: flex
}

/*  VIEW SINGLE ITEM */

.set_height {
    min-height: 4rem;
    line-height: 2rem;
}

.heading {
    background: #2d2d2d;
    padding: 0rem;
    color: white;
    float: left;
    width: 100%
}

.heading_title {
    background: #2d2d2d;
    padding: 0rem;
    padding-top: 0rem;
    padding-left: 0rem;
    color: white;
    float: left;
    width: auto;
    min-width: 50%;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    clear: both;

}

.field {
    padding-left: 2%;
    clear: both;
}

.percent {
    background: #009186;
    float: left;
    padding: 1rem;
    font-size: 1.5rem;

}

.titre_section {
    float: left;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.block_button {
    padding-top: 1rem;
}

.nb_pers {
    background: #d68d01;
    float: left;
    min-width: 4rem;
    padding: 1rem 1rem 1rem 1.5rem;
    font-size: 1.5rem;

}

.right_info {
    float: right;
}

.label_item {
    color: white;
    border: 2px solid white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0.8rem;
    padding: 0.05rem 0.3rem;
    float: left;
    font-weight: bold;
}

.description {
    background: #EEE;
    color: #323232;
    padding: 1rem;
    clear: both;
    margin-bottom: 0, 5rem;
}

.elements {
    background: white;
    padding: 1rem;
}

/* BUTTONS */
.btn_green, a.btn_green {
    color: white !important;
    background-color: #26a69a;
    -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border: 0px;
    border-radius: initial;
    color: white !important;
    -webkit-appearance: none;
}

.btn_orange, a.btn_orange {
    color: white !important;
    background-color: #DB8F00;
    border: 0px;
    -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: initial;
    -webkit-appearance: none;
}

.btn_blue, a.btn_blue {
    color: white !important;
    background-color: #118CBE;
    border: 0px;
    -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    -webkit-appearance: none;
}

.btn-block-tide, a.btn-block-tide {
    background-color: #26a69a;
    border: 0px;
    color: white !important;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    -webkit-appearance: none;
}

.btn_red, a.btn_red {
    background-color: #e84b56;
    border: 0px;
    color: white !important;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    -webkit-appearance: none;

}

.btn_reset, a.btn_reset {
    background-color: grey;
    border: 0px;
    -webkit-appearance: none;
    border: 0px;
    color: white !important;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    -webkit-appearance: none;
    margin-left: 1%;
}

.cg_blck {
    color: #393939;
}

#first_right {
    float: right;
    margin-right: 2rem;
}

#second_right {
    float: right;
    margin-right: 9%;
}

.full {
    width: 100%;
    display: flex;
    padding: 1rem;
    -webkit-box-shadow: 0 0 5px 0 #cfcfcf;
    box-shadow: 0 0 5px 0 #cfcfcf;
}

.small {
    height: 50px;
    overflow: hidden;
}

.big {
    height: auto;
}

.big_button {
    padding: 1rem;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/* INPUTS */

.followed_for {
    clear: both;
    display: flex;
    margin: 1%;
}

select.select {

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    background-color: white;
    border-color: #dbdbdb;
    color: #363636;
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: none;
    margin-left: 1rem;
}

.textarea:not([rows]) {
    max-height: 600px;
    min-height: 120px;
}

.textarea {
    display: block;
    max-width: 99%;
    min-width: 99%;
    padding: 0.625em;
    resize: vertical;
}

.input, .textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    background-color: white;
    border-color: #dbdbdb;
    color: #363636;
    -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    margin: 0.5rem;
    width: auto;
    max-width: 90%;

}

input[type='file'] {
    margin-bottom: 1rem;
    padding: 0rem;
    background: none;
    border: 0px;
    box-shadow: none;
}

.dt-button {
    border: 1px solid #00bfb2;
    background: transparent;
    color: #00aca0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);

}

.dt-button:hover {
    background: #00bfb2;
    color: white;
}

[type="checkbox"]:checked {
    content: '✔';

    color: #009186;
    transition: all .2s; /* on prévoit une animation */
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative; /* permet de positionner les pseudo-éléments */
    padding-left: 25px; /* fait un peu d'espace pour notre case à venir */
    cursor: pointer; /* affiche un curseur adapté */
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.totoggle {
    display: none;
}

/*BREADCRUMB*/

#bread {
    display: flex;
    margin-bottom: 3%;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-width: 10rem;
    -webkit-flex-flow: row wrap;
}

.flex-item {
    background: #fb3640;
    min-width: 25px;
    max-height: 25px;
    min-height: 25px;
    margin: 2px;
    margin: 2px;

    line-height: 25px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    z-index: 1;
}

.section_iena {
    margin-right: 5%;
}

.flex-content::before {
    /*content: attr(data-part);*/
    color: #606060;
    line-height: 3rem;
}

.green_bis {
    background-color: #009186;
    color: white;
}

.orange_bis {
    background-color: #D68D01;
    color: white;
}

.blue_bis {
    background-color: #1587BC;
    color: white;
}

.blue {
    background-color: #1587BC;
}

.number_percent {
    width: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

ul.bulle {
    list-style: none;
    padding: 5%;
}

.bulle {
    list-style: none;
}

.bulle > li {
    list-style: none;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1rem;
    padding-top: 5%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenu {
    min-width: 15rem;
}